<div class="footer">
		<p style="text-align:right"><small>
			<%= link_to "One Month Rails", "http://onemonthrails.com" %> by <%= link_to "Mattan Griffel", "https://www.facebook.com/AlexRvt10" %> 
		</small></p>
</div>